:root {
  font-size: 10 px;
  box-sizing: border-box;
}
body {
  font-family: Cambria;
  background-color: white;
}
p {
  font-size: 1rem;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/* Background  */
body {
  display: block;
  transition: opacity 3s;
  opacity: 0.3;
}

body:hover {
  transition: opacity 0.5s;
  display: block;
  opacity: 1;
}

.test {
  opacity: 0.5;
  background-image: url("images/giphy.gif");
  height: 100vh;

  background-size: cover;
  transition-delay: opacity 1s;
}

.test:hover {
  opacity: 1;
  background-image: none;
}
/* End of background, fade Gif. */

/*Author Bar*/
.author {
  position: relative;
  color: goldenrod;
  background-color: black;
  top: -15px;
  border-radius: 5px;
  border-style: double;
}

/*fixed header - Navigation bar */
/*Black and deep blues and purples
#0C0032
#190061
#240090
#3500D3
#282828
*/

.fixedHeader {
  display: flex;
  position: fixed;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  background-color: #0c0032;
  padding: 5px;
  margin: 0;
  gap: 1.5rem;
  font-size: 2rem;
  font-family: monospace;
  opacity: 0.9;
  border-radius: 20px;
  border-style: double;
  border-color: #282828;
  top: 25px;
}

.fixedHeader a:hover {
  background-color: #190061;
  opacity: 1;
  border-radius: 15px;
  border-style: double;
  border-color: #282828;
  box-shadow: 5px 5px 5px #3500d3;
}
.fixedHeadercomps {
  opacity: 0.5;
  transition: border-color 4s, opacity 1s, box-shadow 4s;
  color: rgb(179, 177, 177);
}

#currentpage {
  transition: border-color 4s, opacity 1s, box-shadow 4s;
  opacity: 0.5;
  padding: 5px;
  color: white;
}
#currentpage:hover {
  border-radius: 15px;
  opacity: 0.1;
  box-shadow: 5px 5px 5px #3500d3 inset;
}

/* First page - flex box*, bottom row bar that hides then reappears items*/
.gridbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 15rem;
  align-items: baseline;
}

.hide {
  display: none;
  position: absolute;
  text-align: center;

  padding: 0px;
  vertical-align: middle;
  margin: 0px;
}

.gridelement {
  font-size: 1.5rem;
  border-radius: 5px;
  border-style: double;
  background-color: bisque;
  padding: 4px;
}

.gridelement:hover + .hide {
  display: block;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 20px;
}

/* New flexbox  on second page. */
.testgrid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 50px;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  size: 100%;
  margin: 0px;
  row-gap: 20px;
  column-gap: 20px;
}
.outer2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  size: 100%;
  gap: 200px;
}
.inner {
  display: flex;
  flex-wrap: wrap;
  size: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex: 3;
  gap: 25px;
}
.inner2 {
  background-color: rgb(250, 229, 208);
  padding: 10px;
  padding-top: 0px;
  border: 5px groove;
  border-radius: 10px;
  transition: border 0.5s, box-shadow 0.5s;
}

.inner2:hover {
  border: 10px double;
  box-shadow: 5px 5px;
}

.rowbox {
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.item {
  border: 2px dashed;
  border-radius: 50px;
  text-align: center;
  flex: 1;
  background-color: blanchedalmond;
  object-fit: fill;
  transition: border-radius 1s, border 1s, box-shadow 0.5s;
}
.item:hover {
  border-radius: 100px;
  border: 10px double;
  box-shadow: 5px 5px 5px 5px;
}
.item1 {
  text-align: center;
  background-color: rgb(191, 146, 233);
  flex: 3;
  font-size: 2rem;
  border: double;
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
  transition: border 2s, box-shadow 0.5s, border-radius 0.5s;
}

.item1:hover {
  border-radius: 1000px;
  border: 10px double;
  box-shadow: 5px 5px;
}
.itemsolo {
  text-align: left;
  background-color: rgb(234, 211, 255);
  font-size: 1.5rem;
  border: double;
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
}

.item2 {
  text-align: left;
  justify-content: left;
  border: double;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(163, 119, 187);
}

/* 
edu.html
maybe change paraTitle to just refer to a h parameter
*/
.paraTitle {
  font-size: 2.5rem;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  font-style: italic;
  text-shadow: 1px 1px;
  border-bottom: double;
}

.para1 {
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 200;
  color: black;
  transition: border 0.5s, box-shadow 1s;
  background: linear-gradient(aqua 20%, blueviolet 40%, magenta 60%, pink 80%);
  border-radius: 10px;
  box-shadow: 5px 5px;
}
.para1:hover {
  box-shadow: 8px 8px;
  border: double black;
  text-decoration: line-through;
}

.newFlex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 10px;

  transition: border 0.5s, box-shadow 0.5s;
}
.newFlex:hover {
  border: double;
  box-shadow: 5px 5px;
}
